# Assignment 1: Preprocessing the Data

Consider the fish market dataset provided in file D4_Fish_Market_Dataset.csv.
- Source: https://www.kaggle.com/aungpyaeap/fish-market
- This dataset lists a total of 8 columns, giving information about 7 species of fish data for market sale.
- It contains a total of 159 training examples.
- The description of the columns is as follows:
    - ID: serial number assigned to a fish
    - Species: specie / name of fish
    - Weight: weight of fish in grams (g)
    - Length1: vertical length in centimeter (cm)
    - Length2: diagonal length in centimeter (cm)
    - Length3: cross length in centimeter (cm)
    - Height: height in centimeter (cm)
    - Width: diagonal width in centimeter (cm)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Datasets/Fish_Market_Dataset.csv')
data

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

## 1. Check for missing attributes values and propose a solution if any.

We can fill th null values with mean or median of the columns.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Species  159 non-null    object
 1   Weight   159 non-null    float64
 2   Length1  159 non-null    float64
 3   Length2  159 non-null    float64
 4   Length3  159 non-null    float64
 5   Height   159 non-null    float64
 6   Width    159 non-null    float64
dtypes: float64(6), object(1)
memory usage: 8.8+ KB

There are no missing values as all 7 columns have 159 values.

## 2. Encode all the categorical variables using appropriate encoding techniques.

In [4]:
unique_elements = data['Species'].unique()
unique_elements

array(['Bream', 'Roach', 'Whitefish', 'Parkki', 'Perch', 'Pike', 'Smelt'],
      dtype=object)

In [5]:
i = 1
species_map = dict()
for element in unique_elements:
    data['Species'] = data['Species'].replace(element, i)
    species_map[element] = i
    i+=1
species_map

/var/folders/_8/stmfqx710clbn04z1vg4j8lr0000gn/T/ipykernel_2311/1146917353.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Species'] = data['Species'].replace(element, i)

{'Bream': 1,
 'Roach': 2,
 'Whitefish': 3,
 'Parkki': 4,
 'Perch': 5,
 'Pike': 6,
 'Smelt': 7}

In [6]:
data

     Species  Weight  Length1  Length2  Length3   Height   Width
0          1   242.0     23.2     25.4     30.0  11.5200  4.0200
1          1   290.0     24.0     26.3     31.2  12.4800  4.3056
2          1   340.0     23.9     26.5     31.1  12.3778  4.6961
3          1   363.0     26.3     29.0     33.5  12.7300  4.4555
4          1   430.0     26.5     29.0     34.0  12.4440  5.1340
..       ...     ...      ...      ...      ...      ...     ...
154        7    12.2     11.5     12.2     13.4   2.0904  1.3936
155        7    13.4     11.7     12.4     13.5   2.4300  1.2690
156        7    12.2     12.1     13.0     13.8   2.2770  1.2558
157        7    19.7     13.2     14.3     15.2   2.8728  2.0672
158        7    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

## 3. If Weight is the output and remaining 6 columns are features, is it a regression or classification problem?

It's a regression problem.

## 4. If Species is taken as target and remaining columns as features, is it a regression or classification problem?

It's a classification problem.