# LAB 6: Logistic Regression

## Heart Dataset

In [29]:
import pandas as pd

In [30]:
data = pd.read_csv("Datasets/Heart_Dataset_non_categorical.csv")

In [31]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [32]:
X = data.drop(columns=['target'])
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [33]:
Y = data['target']
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [34]:
from sklearn.model_selection import train_test_split

trainX, testX, trainY, testY = train_test_split(X, Y, random_state=2, test_size=0.15)

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [36]:
%%time
logistic_regression=LogisticRegression(solver="liblinear",random_state=0)
model=logistic_regression.fit(trainX,trainY)
predY=model.predict(testX)

CPU times: user 4.37 ms, sys: 2.03 ms, total: 6.4 ms
Wall time: 10.9 ms

In [37]:
from sklearn import metrics
print(metrics.accuracy_score(testY,predY)*100, '%')

89.13043478260869 %

In [38]:
stan_scaler = StandardScaler()
trainX1=pd.DataFrame(stan_scaler.fit_transform(trainX))

In [39]:
testX1=pd.DataFrame(stan_scaler.fit_transform(testX))

In [40]:
%%time
logistic_regression1=LogisticRegression(solver="liblinear",random_state=0)
model1=logistic_regression1.fit(trainX1,trainY)
pred_Y=model1.predict(testX1)

CPU times: user 3.14 ms, sys: 1.21 ms, total: 4.35 ms
Wall time: 3.7 ms

In [41]:
print(metrics.accuracy_score(testY,predY)*100, '%')

89.13043478260869 %

In [42]:
from sklearn.metrics import accuracy_score, confusion_matrix, recall_score, precision_score, roc_auc_score

print("The accuracy is", accuracy_score(testY, predY)*100, "%")
print("The recall score is", recall_score(testY, predY)*100, "%")
print("The precision is", precision_score(testY, predY)*100, "%")
print("The roc score is", roc_auc_score(testY, predY)*100, "%")
confusion_matrix(testY, predY)

The accuracy is 89.13043478260869 %
The recall score is 100.0 %
The precision is 80.0 %
The roc score is 90.38461538461539 %

array([[21,  5],
       [ 0, 20]])

## Spambase Dataset

In [49]:
from ucimlrepo import fetch_ucirepo

In [50]:
spambase = fetch_ucirepo(id=94) 
X_spam = spambase.data.features 
y_spam = spambase.data.targets

In [51]:
%%time
x_trainspam, x_testspam, y_trainspam, y_testspam = train_test_split(X, Y, random_state=0, test_size=0.2)
classifier_spam = LogisticRegression(solver="liblinear",random_state=0).fit(x_trainspam, y_trainspam)
pred_Yspam = classifier_spam.predict(x_testspam)

CPU times: user 6.68 ms, sys: 5.12 ms, total: 11.8 ms
Wall time: 12.1 ms

In [52]:
print("The accuracy is", accuracy_score(y_testspam, pred_Yspam)*100, "%")
print("The recall score is", recall_score(y_testspam, pred_Yspam)*100, "%")
print("The precision is", precision_score(y_testspam, pred_Yspam)*100, "%")
print("The roc score is", roc_auc_score(y_testspam, pred_Yspam)*100, "%")

confusion_matrix(y_testspam, pred_Yspam)

The accuracy is 85.24590163934425 %
The recall score is 88.23529411764706 %
The precision is 85.71428571428571 %
The roc score is 84.85838779956427 %

array([[22,  5],
       [ 4, 30]])