# LAB 6: Logistic Regression

In [181]:
import pandas as pd

In [182]:
data = pd.read_csv("Datasets/Heart_Dataset_non_categorical.csv")

In [183]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [184]:
X = data.drop(columns=['target'])
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [185]:
Y = data['target']
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [186]:
from sklearn.model_selection import train_test_split

trainX, testX, trainY, testY = train_test_split(X, Y, random_state=2, test_size=0.15)

In [187]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt

In [188]:
%%time
logistic_regression=LogisticRegression(solver="liblinear",random_state=0)
model=logistic_regression.fit(trainX,trainY)
Y_pred=model.predict(testX)

CPU times: user 4.15 ms, sys: 1 ms, total: 5.16 ms
Wall time: 4.35 ms

In [189]:
from sklearn import metrics
print(metrics.accuracy_score(testY,Y_pred)*100, '%')

89.13043478260869 %

In [190]:
stan_scaler = StandardScaler()
trainX1=pd.DataFrame(stan_scaler.fit_transform(trainX))

In [191]:
testX1=pd.DataFrame(stan_scaler.fit_transform(testX))

In [192]:
%%time
logistic_regression1=LogisticRegression(solver="liblinear",random_state=0)
model1=logistic_regression1.fit(trainX1,trainY)
pred_Y1=model1.predict(testX1)

CPU times: user 3.18 ms, sys: 1.02 ms, total: 4.2 ms
Wall time: 3.42 ms

In [193]:
print(metrics.accuracy_score(testY,pred_Y1)*100, '%')

86.95652173913044 %